<aside class="sidebar" [ngClass]="{'close': sidebarIsClosed}">

  <header class="logo-details">
    <i class='bx bxl-periscope'></i>
    <span class="brand logo_name">{{ title }}</span>
  </header>

  <ul class="nav-links">
    <li *ngFor="let item of menu" [ngClass]="{'showMenu': showSubmenu}">
      <article *ngIf="item.submenu; else simpleItemMenu" (click)="onToggleSubmenu()">
        <div class="iocn-link">
          <a>
            <i [class]="item.icon"></i>
            <span class="link_name">{{ item.linkName }}</span>
          </a>
          <i class='bx bxs-chevron-down arrow'></i>
        </div>

        <ul class="sub-menu" *ngIf="item.submenu">
          <li><a class="link_name" href="#">{{ item.linkName }}</a></li>
          <li *ngFor="let subItem of item.submenu">
            <a [routerLink]="subItem.path">{{ subItem.title }}</a>
          </li>
        </ul>
      </article>

      <ng-template #simpleItemMenu>
        <a [routerLink]="item.path">
          <i [class]="item.icon"></i>
          <span class="link_name">{{ item.linkName }}</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" [routerLink]="item.path">{{ item.linkName }}</a></li>
        </ul>
      </ng-template>
    </li>

    <article class="profile-details">
      <div class="profile-content">
        <img src="image/profile.jpg" alt="profile">
      </div>

      <div class="name-job">
        <div class="profile_name">User Logged</div>
        <div class="job">Role</div>
      </div>
      <i class='bx bx-log-out'></i>
    </article>

  </ul>
  
</aside>