<section class="animate__animated animate__fadeIn animate_faster">

    <article class="form-wrapper animate__animated animate__fadeIn animate_faster">
        <h2 class="title">{{ title }}</h2>

        <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="text" formControlName="email">
            </mat-form-field>       
    
            <mat-form-field appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" formControlName="password">
            </mat-form-field>       
                
            <div class="footer">
                <button type="submit" color="primary" mat-raised-button>Ingresar</button>
            </div>
        </form>
    </article>
    
</section>