<section>
    <h2>{{ title }}</h2>

    <article class="box animate__animated animate__fadeIn animate_faster">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">

            <mat-form-field appearance="outline">
                <mat-label>Categoría</mat-label>
                <input matInput type="text" formControlName="category">
            </mat-form-field>       
    
            <mat-form-field appearance="outline">
                <mat-label>Precio</mat-label>
                <input matInput type="text" formControlName="price">
            </mat-form-field>       

            <mat-form-field appearance="outline">
                <mat-label>Imágenes</mat-label>
                <input readonly matInput type="text" formControlName="images">
            </mat-form-field>       

            <article>
                <p *ngIf="isInvalidFormats">Solo puede subir imágenes JPEG, JPG o PNG</p>
                <input 
                    multiple
                    type="file" 
                    class="mb-4"
                    [accept]="allowedFormats"
                    (input)="onFileChange($event)">

                <img class="mb-4" height="120px" [src]="url" *ngFor="let url of imgPreviewUrls">
            </article>

            <div class="footer">
                <button type="submit" color="primary" mat-raised-button>Crear</button>
            </div>
            
        </form>
    </article>

  </section>