.images-container {
    .related-images {
        gap: 1em;
        display: flex;
        cursor: pointer;
        flex-direction: column;

        img:active {
            border: 2px solid blue;
        }
    }
}