<article *ngIf="property !== undefined" class="row box animate__animated animate__fadeIn animate_faster">
    <div class="col-md-7 row">
        <nav class="images-vertical-list col-md-2">
            <img [src]="image" *ngFor="let image of property.images" class="img-fluid">
        </nav>

        <img [src]="property.images[0]" class="img-fluid col-md-10">
    </div>

    <div class="col-md-5">
        <h3>
            {{ property.category }} 
            <small class="text-muted">en {{ property.operationType }}</small>
        </h3>
        <p>Barrio: {{ property.neighborhood }}</p>
        <p>$ {{ property.price }}</p>
        <p>{{ property.address }}</p>
        <p>{{ property.ownerID }}</p>
        <p>{{ property.description }}</p>
    </div>

    <app-spinner *ngIf="showSpinner"></app-spinner>
</article>
