<article *ngIf="property$ | async as property; else spinner" class="row box animate__animated animate__fadeIn animate_faster">

    <div class="col-md-7 row images-container">
        <nav class="related-images col-md-2">
            <img [src]="imgURL" 
                class="img-fluid"
                (click)="onSetNewFeatureImage(imgURL)"
                *ngFor="let imgURL of property?.images">
        </nav>

        <div class="col-md-10">
            <img id="featuredImg" #featuredImg [src]="property.images[0]" class="img-fluid">
        </div>
    </div>

    <div class="col-md-5">
        <h2 class="title">{{ property?.category }} en {{ property.operationType }}</h2>
        <h3 class="price">
            <i class='bx bx-dollar-circle'></i> 
            <span>{{ property.price | number }}</span>
        </h3>
        <p><i class='bx bx-been-here'></i> Barrio {{ property.neighborhood }}</p>
        <p><i class='bx bx-hash'></i> {{ property.address }}</p>
        <p>
            <i class='bx bx-phone'></i> 
            {{ property.mobile | mask:'(000) 000 0000' }} 
            <span *ngIf="property.mobileOptional">
                - {{ property.mobileOptional | mask:'(000) 000 0000' }}
            </span>
        </p>
        <p>{{ property.description }}</p>
    </div>

</article>

<ng-template #spinner>
    <app-spinner></app-spinner>
</ng-template>