@import './src/assets/scss/colors';

.images-container {
    .related-images {
        gap: 1em;
        display: flex;
        cursor: pointer;
        flex-direction: column;
    }
}

.title {
    color: $negro-500;
}
.price {
    gap: 5px;
    display: flex;
    font-weight: 300;
    align-items: center;
}