<article class="box animate__animated animate__fadeIn animate_faster">
    <h2>{{ title }}</h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">

        <mat-form-field appearance="outline" class="file-wrapper">
            <article class="fileupload">
                <button [disabled]="showSpinner">
                    Subir fotos
                    <input (input)="onFileChange($event)" type="file" multiple [accept]="allowedFormats">
                </button>
                <img *ngFor="let url of imgPreviewUrls" [src]="url">
            </article>
            
            <input [hidden]="true" readonly matInput type="text" formControlName="images">
        </mat-form-field>       
        <!-- <p *ngIf="isInvalidFormats">Solo puede subir imágenes JPEG, JPG o PNG</p> -->

        <article class="row">
            <mat-form-field appearance="outline" class="col">
                <mat-label>Categoría *</mat-label>
                <mat-select formControlName="category" disableRipple>
                    <mat-option *ngFor="let item of propertyCategories$ | async" [value]="item.name">
                        {{ item.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>       
    
            <mat-form-field appearance="outline" class="col">
                <mat-label>Tipo de operación *</mat-label>
                <mat-select formControlName="operationType" disableRipple>
                    <mat-option *ngFor="let item of operationType" [value]="item.value">
                        {{ item.key }}
                    </mat-option>
                </mat-select>
            </mat-form-field>       

            <mat-form-field appearance="outline" class="col">
                <mat-label>Barrio *</mat-label>
                <mat-select formControlName="neighborhood" disableRipple>
                    <mat-option *ngFor="let item of neighborhoods$ | async" [value]="item.name">
                        {{ item.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>       
        </article>

        <article class="row">
            <mat-form-field appearance="outline" class="col">
                <mat-label>Precio *</mat-label>
                <input matInput type="text" formControlName="price">
            </mat-form-field>       
    
            <mat-form-field appearance="outline" class="col">
                <mat-label>Dirección *</mat-label>
                <input matInput type="text" formControlName="address">
            </mat-form-field>       

            <mat-form-field appearance="outline" class="col">
                <mat-label>Propietario *</mat-label>
                <mat-select formControlName="ownerID" disableRipple>
                    <mat-option *ngFor="let item of owners$ | async" [value]="item.id">
                        {{ item.name }} {{ item.lastname }}
                    </mat-option>
                </mat-select>
            </mat-form-field>       
        </article>

        <article class="row">
            <div class="custom_mat_form_field_inline col">
                <mat-label>Visible?</mat-label>
                <mat-slide-toggle disableRipple formControlName="visible"></mat-slide-toggle>
            </div>  
        </article>

        <article class="row">
            <mat-form-field appearance="outline" class="col">
                <mat-label>Obervaciones</mat-label>
                <textarea matInput rows="4" type="text" formControlName="description"></textarea>
            </mat-form-field>       
        </article>

        <div class="footer">
            <app-spinner *ngIf="showSpinner"></app-spinner>
            <button 
                *ngIf="!showSpinner" 
                [disabled]="form.invalid" 
                type="submit" color="primary" mat-raised-button>Crear</button>
        </div>
        
    </form>
</article>