#wrapper {
    display: flex;
    min-height: 100vh;
    position: relative;
    align-items: stretch;

    .container-fluid {
        padding: 1em;
        min-height: 100%;
        background: #E4E9F7;
        transition: all 0.5s ease;

        .header-content {
            height: 60px;
            display: flex;
            align-items: center;

            .bx-menu {
                margin: 0;
                cursor: pointer;
                font-size: 35px;
                color: #11101d;
            }
        }
    }
}