<div class="row animate__animated animate__fadeIn animate_faster">

  <app-home-sidebar (onFilterChange)="onFilterChange($event)"  class="col-md-3"></app-home-sidebar>

  <section class="col-md-9 box row">

      <div *ngIf="properties.length > 0 else noResults">
        <article *ngFor="let property of properties" class="card property-card animate__animated animate__fadeIn animate_faster">
          <div class="row g-0">
            <div class="col-md-3">
              <img [routerLink]="['/home/detail', property.id]" 
                [src]="property.images[0]" class="img-fluid" [alt]="property.category">
            </div>

            <div class="col-md-9">
              <div class="card-body">
                <a [routerLink]="['/home/detail', property.id]">
                  <h5 class="card-title">{{ property.category }}  en {{ property.operationType }}</h5>
                </a>

                <h5 class="price">
                  <i class='bx bx-dollar'></i>
                  <span>{{ property.price | number }}</span>
                </h5>

                <p class="neighborhood">
                  <i class='bx bx-been-here'></i>
                  Barrio {{ property.neighborhood }}
                </p>   

                <p class="card-text"><small class="text-muted">Publicado hace 2 horas</small></p>
              </div>
            </div>
          </div>
        </article>
      </div>

      <ng-template #noResults>
        <app-not-result></app-not-result>
      </ng-template>

  </section>
</div>