<app-navbar></app-navbar>

<div class="home-wrapper container-fluid">

    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col" *ngFor="let item of data">
          <div class="card">
            <img [src]="item.images[0]" class="card-img-top" [alt]="item.category">
            <div class="card-body">
              <h5 class="card-title">
                  {{ item.category }} 
                  <small class="text-muted">en {{ item.operationType }}</small>
                </h5>
                <p class="card-text">$ {{ item.price | number }}</p>   
                <p class="card-text text-muted">Barrio {{ item.neighborhood }}</p>   
              <!-- <p class="card-text">{{ item.description }}</p> -->
              <button class="btn btn-outline-primary">Ver Detalles</button>
            </div>
          </div>
        </div>
    </div>

</div>