@import './src/assets/scss/colors';
@import './src/assets/scss/material';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; 
}
body {
    min-height: 100vh;
    background-color: $gris-100;
}

/* -------------------------------------------
    Breadcrumbs
------------------------------------------- */ 
.custom-bread-crumb {
    margin: 0 !important;
    padding: 0 !important;

    li {
        font-size: 16px !important;
        span {
            color: $gris-300 !important;
        }
    }
}

/* -------------------------------------------
    Custom scrollbar
------------------------------------------- */ 
.custom-scrollbar-css {
    scrollbar-color: none;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        height: 5px;
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        background: none;
        border-radius: 15px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 15px;
        background-color: $azul-500;
    }
}

/* -------------------------------------------------------
    Utilitarios
 ------------------------------------------------------- */
 .custom_mat_form_field_inline {
     display: flex;
    margin-bottom: 2em;
    align-items: center;

    mat-label {
        padding-left: .7em;
        margin-right: 1.2em;
        color: rgba(0,0,0,.6);
    }
 }
.box {
    padding: 24px 12px;
    border-radius: 5px;
    background-color: $blanco-500;
}
