@import './src/assets/scss/colors';

html, body { 
    margin: 0;
    height: 100%; 
    background-color: $gris-100;
}
body { font-family: Roboto, "Helvetica Neue", sans-serif; }

/* -------------------------------------------------------
    Mat Forms
 ------------------------------------------------------- */
 .mat-form-field {
     width: 100%;
 }

 /* -------------------------------------------------------
    Mat Table
 ------------------------------------------------------- */
 .table-search {
    padding: 0;
    display: flex;
    margin-bottom: .7em;
    align-items: center;
    justify-content: space-between;

    .input-search {
        display: flex;
        padding-left: 1em;
        align-items: center;
        justify-content: flex-start;

        mat-icon {
            color: $gris-400;
        }
        input {
            color: $gris-400;
            margin-left: .7em;
            padding-left: .7em;
            border-left: 1px solid $gris-400;
        }
    }
}
.mat-table {
    width: 100%;

    .tools {
        i {
            cursor: pointer;
            color: $gris-300;
            margin-right: .7em;
        }
        i:hover { color: $azul-300; }
        i:last-child { margin-right: 0; }
    }
}

/* -------------------------------------------------------
    Utilitarios
 ------------------------------------------------------- */
.box {
    padding: 24px;
    border-radius: 5px;
    background-color: $blanco-500;
}