@import './src/assets/scss/colors';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; 
}

body { 
    margin: 0;
    width: 100%;
    overflow: hidden;
    min-height: 100vh;
    position: relative;
}

/* -------------------------------------------------------
    Mat Forms
 ------------------------------------------------------- */
.mat-form-field {
     width: 100%;
     margin-bottom: 1em;
}
.fileupload {
    overflow: hidden;
    position: relative;
    display: inline-block;

    button {
        color: gray;
        font-size: 1em;
        font-weight: bold;
        padding: 8px 20px;
        position: relative;
        border-radius: 4px;
        border: 2px solid gray;
        background-color: white;
    }
    img {
        height: 120px;
        margin: 0 .7em;
        border-radius: 4px;
    }
    input[type=file] {
        top: 0;
        left: 0;
        opacity: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
}

 /* -------------------------------------------------------
    Mat Table
 ------------------------------------------------------- */
 .table-search {
    padding: 0;
    display: flex;
    margin-bottom: .7em;
    align-items: center;
    justify-content: space-between;

    .input-search {
        display: flex;
        padding-left: 1em;
        align-items: center;
        justify-content: flex-start;

        mat-icon {
            color: $gris-400;
        }
        input {
            color: $gris-400;
            margin-left: .7em;
            padding-left: .7em;
            border-left: 1px solid $gris-400;
        }
    }
}
.mat-table {
    width: 100%;

    .tools {
        i {
            cursor: pointer;
            color: $gris-300;
            margin-right: .7em;
        }
        i:hover { color: $azul-300; }
        i:last-child { margin-right: 0; }
    }
}

/* -------------------------------------------------------
    Utilitarios
 ------------------------------------------------------- */
.box {
    padding: 24px;
    border-radius: 5px;
    background-color: $blanco-500;
}