<article class="box animate__animated animate__fadeIn animate_faster">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
        
        <div class="row">
            <div class="col-md-5">
                <app-file-uploader (selectedFiles)="onSelectedFiles($event)"></app-file-uploader>
            </div>

            <div class="col-md-7">
                <article class="row">
                    <mat-form-field appearance="outline" class="col">
                        <mat-label>Categoría *</mat-label>
                        <mat-select formControlName="category" disableRipple>
                            <mat-option *ngFor="let item of propertyCategories$ | async" [value]="item.name">
                                {{ item.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>       
            
                    <mat-form-field appearance="outline" class="col">
                        <mat-label>Tipo de operación *</mat-label>
                        <mat-select formControlName="operationType" disableRipple>
                            <mat-option *ngFor="let item of operationType" [value]="item.value">
                                {{ item.key }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>       
                </article>
    
                <article class="row">
                    <mat-form-field appearance="outline" class="col">
                        <mat-label>Barrio *</mat-label>
                        <mat-select formControlName="neighborhood" disableRipple>
                            <mat-option *ngFor="let item of neighborhoods$ | async" [value]="item.name">
                                {{ item.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>       
    
                    <mat-form-field appearance="outline" class="col">
                        <mat-label>Precio *</mat-label>
                        <input matInput type="text" formControlName="price">
                    </mat-form-field>       
                </article>
    
                <article class="row">
                    <mat-form-field appearance="outline" class="col">
                        <mat-label>Dirección *</mat-label>
                        <input matInput type="text" formControlName="address">
                    </mat-form-field>       
                
                    <mat-form-field appearance="outline" class="col">
                        <mat-label>Celular *</mat-label>
                        <input matInput [mask]="masks.mobile" type="text" formControlName="mobile">
                    </mat-form-field>  
                
                    <mat-form-field appearance="outline" class="col">
                        <mat-label>Celular Alternativo</mat-label>
                        <input matInput [mask]="masks.mobile" type="text" formControlName="mobileOptional">
                    </mat-form-field>  
                </article>
    
                <div class="custom_mat_form_field_inline">
                    <mat-label>Activo</mat-label>
                    <mat-slide-toggle disableRipple formControlName="active"></mat-slide-toggle>
                </div>  
    
                <mat-form-field appearance="outline">
                    <mat-label>Obervaciones</mat-label>
                    <textarea matInput rows="4" type="text" formControlName="description"></textarea>
                </mat-form-field>       
            </div><!-- form col 1 -->
        </div><!-- form row 1 -->

        <div class="form_footer">
            <app-spinner *ngIf="isLoading"></app-spinner>
            <button 
                type="submit" color="primary" mat-raised-button>Crear</button>
        </div>
        
    </form>
</article>