<aside id="sidebar" 
    [ngClass]="{'expanded': sidedarIsOpen}" 
    class="animate__animated animate__fadeInLeft animate_faster">

    <nav class="main-menu">
        <header (click)="onCloseSidebar()"> 
            <mat-icon>home</mat-icon>
        </header>

        <a *ngFor="let menu of menuList" 
            matTooltipPosition="right"
            [matTooltip]="menu.title" 
            (click)="onShowMenu(menu)">
            <i class="material-icons-outlined">{{ menu.icon }}</i>
            <span>{{ menu.title }} </span>
        </a>
    </nav>

    <app-submenu *ngIf="sidedarIsOpen" [menuToShow]="currentActiveMenu" class="submenu"></app-submenu>
</aside>